body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul, ol {
    list-style-type: none;
}

img {
    display: block;
}

.header {
    border-bottom: 1px solid #e7e9fc; 
}

.header-container {
    display: flex;
}

.container {
    width: 1158px;
    margin: 0 auto; 
    padding: 0 15px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 76px;
}

.word-studio {
    color: #2e2f42;
}

.menu-element {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.menu-element,
.menu-link {
  padding: 24px 0;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-link {
    text-decoration: none;
    color: #2E2F42;
}

.menu-link:hover, .menu-link:focus {
    color: #404BBF;
}

.contact {
    font-style: normal;
    text-decoration: none;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.31;
}

.contact,
.contact-list {
    display: flex;
    gap: 40px;
} 

.contact-link {
    text-decoration: none;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-link:hover, .contact-link:focus {
    color: #404BBF;
}

.first-section {
    background-color: #2E2F42;
    padding: 188px 0; 
}

.first-section-title {
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em; 
    max-width: 496px;
}

.first-section-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
}

.first-section button:hover, .first-section button:focus {
    background-color: #404BBF;
}

.second-section {
    padding: 120px 0; 
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-section-list {
    display: flex;
    gap: 24px;
}

.second-section-element {
    flex-basis: calc((100% - 72px) / 4)
}

.second-section-titles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.second-section-parag {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.third-section {
    background-color: #F4F4FD;
    text-align: center;
    padding: 120px 0;
}

.third-section-list {
    display: flex;
    gap: 24px; 
}

.third-section-title {
    font-size: 36px;
    line-height: 1.11; 
    text-align: center;
    letter-spacing: 0.02em; 
    text-transform: capitalize; 
    color: #2e2f42;
}

.third-section-listelement {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.container-person-description {
    padding: 32px 0;
}

.third-section-title {
    text-align: center; 
    margin-bottom: 72px;
}

.third-section-parag {
    text-align: center; 
}

.forth-section {
    padding-top: 120px; 
    padding-bottom: 120px;
}

.forth-section-title {
    margin-bottom: 72px;
}

.forth-section-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px; 
    row-gap: 48px;
}

.forth-section-list-element {
    flex-basis: calc((100% - 48px) / 4);
}

.container-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none; 
    margin-bottom: 8px;
}
.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding: 100px 0; 
    max-height: 312px;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-parag {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px; 
}

.footer-link {
    display: inline-block;
    margin-bottom: 16px;
}

.word-studio-footer {
    color: #f4f4fd;
}